<app-menu></app-menu>




<div class="card">
    <p-table
        #dt1
        [value]="cargas"
        dataKey="cedula"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
    
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['nombres', 'cedula', 'escuela', 'correo']"
        [tableStyle]="{ 'min-width': '20rem' }"
        >
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between align-items-center">
              <span class="p-input-icon-left">
                Filtrar Estudiante:
                <p-columnFilter type="text" field="ciEstudiante"></p-columnFilter>
              </span>
              <p-button icon="pi pi-plus" routerLink="/listaEstudiante" label="Crear" styleClass="p-button-rounded"></p-button>
            </div>
          </ng-template>
          
          
          
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                       Id
                        
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Estudiante
                       
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Fecha
                       
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Modalidad
                        
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Periodo
                    </div>
                </th>
                <th style="min-width:5rem">
                    <div class="flex align-items-center">
                        Ver
                    </div>
                </th>
                <th style="min-width:5rem">
                    <div class="flex align-items-center">
                        Eliminar
                    </div>
                </th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listU>
            <tr>
                <td>{{listU.id}}</td>
                <td>{{listU.ciEstudiante}}</td>
                <td>{{listU.fecha}}</td>
                <td>{{listU.modalidad}}</td>
                <td>{{listU.periodo}}</td>
                <td>
                  
                    <p-button (onClick)="showDialog(listU.id)" icon="pi pi-eye" styleClass="p-button-rounded "></p-button>
                </td>
                <td>
                    <p-button (onClick)="eliminar(listU.id)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"></p-button>
                </td>           
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Cargas academicas no encontradas.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="card">
   
    <p-dialog header="Materias de la carga academica " [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="dialogVisible" [style]="{width: '75vw'}" [contentStyle]="{height: '300px'}">
        <p-table [value]="materiasCarga" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>id Carga</th>
                    <th>Id Materia</th>
                    <th>Nombre</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{customer.idCarga}}</td>
                    <td>{{customer.idMateria}}</td>
                    <td>{{customer.materia}}</td>
                    <td>{{customer.totalMateria}}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple icon="pi pi-times" (click)="dialogVisible=false" label="Cerrar" class="p-button-text"></button>
        </ng-template>
    </p-dialog>
</div>




