<app-menu></app-menu>
<div class="card">
    <p-table
        #dt1
        [value]="materias"
        dataKey="cedula"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="cargando"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['nombres', 'cedula', 'escuela', 'correo']"
        >
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between align-items-center">
              <span class="p-input-icon-left">
                Filtrar Materia:
                <p-columnFilter type="text" field="nombre"></p-columnFilter>
              </span>
              <p-button icon="pi pi-plus" routerLink="/nuevaMateria" label="Crear" styleClass="p-button-rounded"></p-button>
            </div>
          </ng-template>
          
          
          
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Id
                        
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Nombre
                       
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Abreviatura
                        <p-columnFilter type="text" field="escuela"  display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Creditos
                       
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Valor
                        
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Eliminar
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Editar
                    </div>
                </th>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listU>
            <tr>
                <td>{{listU.id}}</td>
                <td>{{listU.nombre}}</td>
                <td>{{listU.abreviatura}}</td>
                <td>{{listU.creditos}}</td>
                <td>{{listU.valorCredito}}</td>
             
                
                <td>
                    <p-button (onClick)="eliminar(listU.id)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"></p-button>
                </td>
                <td>
                    <p-button [routerLink]="'/editarMateria/' + listU.id" icon="pi pi-pencil" styleClass="p-button-rounded p-button-secondary"></p-button>
                </td>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Estudiante no encontrado.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
