<app-menu></app-menu>
<div class="wrapper">
    <div *ngIf="!cargando" class="body">
        <h2> {{titulo}} </h2>
        <div class="formulario">

           
            <div class="form-group">
                <input pInputText placeholder="Nombre" [(ngModel)]="nombre" />
            </div>
           
            <div class="form-group">
                <input pInputText placeholder="Abreviatura" [(ngModel)]="abreviatura" />
            </div>
            <div class="form-group">
                <input pInputText placeholder="Creditos" [(ngModel)]="creditos" />
            </div>
            <div class="form-group">
                <input pInputText placeholder="Valor del credito" [(ngModel)]="valorCredito" />
            </div>
            <div class="form-group">
                <p-button label="{{tituloB}}" (onClick)="guardarActualizar()" styleClass="p-button-success"></p-button>
               
            </div>
            <div class="form-group">
                <p-button label="Regresar" styleClass="p-button-warning"></p-button>
            </div>




        </div>

    </div>
    <app-spiner *ngIf="cargando" ></app-spiner>
</div>