


.pagos {
    margin-top: 2vh;
    width: 35vh;
    height: 25vh;
    background-color: #00498c;
    border-radius: 20px;
    padding: 16px 0;
    transition: color 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagos:hover {
    background-color: #00498c;
    color: #ffc822;
}

i {
    font-size: 5rem;
}

a {
    color: #fff;
    text-decoration: none;
}

video {
    width: 100%;
    max-width: 500px;
    max-height: 400px;
    height: auto;
}

