.product-name {
    font-weight: bold;  /* Establece la negrita */
    font-size: 1.2rem;  /* Ajusta el tamaño de fuente según tus necesidades */
}

.custom-picklist .p-picklist-buttons {
    display: none;
}