.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .card-item {
    flex: 0 0 auto;
    margin-right: 10px;
 
  }
